body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FAF9F6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  flex-grow: 1; 
}

h1 {
  font-size: 1rem;
  margin: auto;
}

.upload-section, .master-tracks {
  margin-bottom: 30px;
}

input[type="file"] {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #000000; 
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #5A030C;
}

.audio-list {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

audio {
  width: 100%;
}

header {
  background-color: #000000; 
  color: white;
  padding: 20px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  text-align: center;
  flex-grow: 1;
}

.header-button {
  display: inline-block;
}

.round-button-img {
  margin: auto;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #333;
}

.master-tracks {
  margin-bottom: 30px;
}

.master-tracks h2 {
  font-size: 1.8rem;
  color: #000000; 
}

.w3-sidebar {
  height: 100%;
  width: 200px;
  background-color: #222;
  color: white;
  padding: 15px;
  position: fixed !important;
  z-index: 9999;
  overflow: auto;
}

.w3-bar-item {
  color: white; /* Ensures menu items remain visible */
  font-size: 16px;
}

.w3-bar-item:hover {
  background-color: #333; /* Subtle hover effect */
}

/*
//carousel 
.carousel-container {
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #ccc;
  position: relative;
}

.carousel img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  left: -220px;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    left: -220px;
    opacity: 0;
  }
  to {
    left: 10px;
    opacity: 1;
  }
}
*/

.footer {
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.75rem 1rem;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.footer img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
}

.footer img:hover {
  transform: scale(1.1);
}

.footer a {
  margin: 0 10px;
}